<input type="text" [(ngModel)]="title">

{{title}}

<input type="number" [(ngModel)]="power">
{{power | exponential}}

<div [ngSwitch]="title">
  <p *ngSwitchCase="'Edgar'">Este es Edgar</p>
  <p *ngSwitchCase="'Allan'">Este es Allan</p>
  <p *ngSwitchCase="'Poe'">Este es Poe</p>
  <p *ngSwitchDefault>No hay coincidencias</p>
</div>

<button (click)="addItem()">Add item.</button>

<ul>
  <li *ngIf="items.length === 0">La lista esta vacía.</li>
  <li *ngFor="let name of items;index as i">
    {{name}} {{ i }}
    <button type="button" (click)="deleteItem(i)">Delete item</button>
  </li>
</ul>

<div class="product-grid">
  <app-product *ngFor="let producto of products" [product]="producto" (productClicked)="productClicked($event)">
  </app-product>
</div>